input {
    width: 70%;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: larger;
    border-color: #0000;
    
}
button.search {
    font-size: large;
    padding: 5px 20px;
    border-radius: 20px;
    border-color: #0000;
}

.list {
    font-size: x-large;
    text-align: left;
}